<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :thumbnail %>
    <%= form.hidden_field :thumbnail %>
    <%= link_to 'Upload', new_medium_path, remote: true, class: "btn btn-lg btn-primary" %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.hidden_field :content %>
  </div>
  <%= render 'mdeditor' %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<div id="medium-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
