<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <% if thumbnail_url = @article.thumbnail_url %>
  <%= image_tag thumbnail_url %>
  <% end %>
</p>

<p>
  <strong>Link:</strong>
  <%= @article.link %>
</p>

<p>
  <strong>Content:</strong>
  <%= markdown(@article.content).html_safe %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
