<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @medium.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medium.description %>
</p>

<p>
  <strong>Medium:</strong>
  <div>
    <% if medium = @medium.medium %>
    <div><%= image_tag medium.url %></div>
    <div><%= image_tag medium.large.url %></div>
    <div><%= image_tag medium.medium.url %></div>
    <div><%= image_tag medium.small.url %></div>
    <% end %>
  </div>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
