<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @medium.title %>
</p>

<p>
  <strong>Discription:</strong>
  <%= @medium.discription %>
</p>

<p>
  <strong>Url:</strong>
  <%= @medium.url %>
</p>

<p>
  <strong>Url large:</strong>
  <%= @medium.url_large %>
</p>

<p>
  <strong>Url medium:</strong>
  <%= @medium.url_medium %>
</p>

<p>
  <strong>Url small:</strong>
  <%= @medium.url_small %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
