<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:status] %>
    <div class="flash hidden <%= flash[:status][0] %>"><%= flash[:status][1] %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
